<div class="container">
  <div class="comment-container">
    <ng-container *ngFor="let comment of commentList">
      <span><b>{{comment.userName}}</b></span>
      <span>{{comment.comment}}</span>
    </ng-container>
  </div>
  <div class="add-comment-container">
    <span><b>User name: </b></span>
    <label>
      <input name="userName" [(ngModel)]="userNameField">
    </label>
    <span>Write your comment: </span>
    <label>
      <input name="comment" [(ngModel)]="commentField">
    </label>
    <button [disabled]="!commentField || !userNameField" (click)="send()">Send your comment</button>
  </div>
</div>
